main {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#recipes-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#recipes-tools-ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#recipes-tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#recipes-ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#recipes-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* TAGGAR */
.tag-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 20px;
}

.tag {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.2s;
}

.tag:hover {
    background-color: #e0e0e0;
}

.tag-room {
    border: 1px solid #add8e6;
}

.tag-area {
    border: 1px solid #90ee90;
}

.tag-problem {
    border: 1px solid #ffb6c1;
}